.whish(id='#{article._id}')
	.article-photos
		- if (article.images)
			- if(typeof(article.images) == 'string')
				img.article-photo(src='/imgs/articles/#{article.images}')	
			- if(typeof(article.images) == 'object')
				- each imageSrc in article.images
					img.article-photo(src='/imgs/articles/#{imageSrc}')
		- if (article.thumb)
			- if(typeof(article.thumb) == 'string')
				img.article-photo(src='/imgs/articles/#{article.thumb}')	
			- if(typeof(article.thumb) == 'object')
				- each imageSrc in article.thumb
					img.article-photo(src='/imgs/articles/#{imageSrc}'
	.article-content
		.article-title #{article.name}
		br
		- if (article.description)
			.article-desc #{article.description}
		br
		- if (article.price)
			.article-price Valeur approximative #{article.price}€
		br 
		-if(article.urls)
			ul.links
				- each link,i in article.urls
					li: a(href='#{link}') lien #{i+1} 
		br
		-if(article.options)
			ul.options
				- each option in article.options
					-if(option == 'PARIAL_CASH')
						li: a(href='#') Participer
					-if(option == 'BOOK_BUY')
						li: a(href='#') Réserver et acheter
					-if(option == 'BOOK_CASH')
						li: a(href='#') Réserver et déposer l'argent
					br
	br
	.return: a(href="/") Retour à la liste