.whish(id='#{article._id}')
	.article-photos
		- if (article.images)
			- if(typeof(article.images) == 'string')
				img.article-photo(src='/imgs/articles/#{article.images}')	
			- if(typeof(article.images) == 'object')
				- each imageSrc in article.images
					img.article-photo(src='/imgs/articles/#{imageSrc}')
		- if (article.thumb)
			- if(typeof(article.thumb) == 'string')
				img.article-photo(src='/imgs/articles/#{article.thumb}')	
			- if(typeof(article.thumb) == 'object')
				- each imageSrc in article.thumb
					img.article-photo(src='/imgs/articles/#{imageSrc}'
	.article-content
		.article-title #{article.name}
		br
		- if (article.description)
			.article-desc #{article.description}
		br
		- if (article.price)
			.article-price Valeur approximative #{article.price}€
		br 
		-if(article.urls)
			ul.links
				- each link,i in article.urls
					li: a(href='#{link}') lien #{i+1} 
		br
		-if(article.options)
			ul.options
				- each option in article.options
					-if(option == 'PARIAL_CASH')
						li#partial-cash-button: a(href='#', title='') Participer
					-if(option == 'BOOK_BUY')
						li#book-buy-button: a(href='#', title='') Réserver et acheter
					-if(option == 'BOOK_CASH')
						li#book-cash-button: a(href='#', title='') Réserver et déposer l'argent
					br
	br
	.return: a(href="/") Retour à la liste
- each option in article.options
	- if(option == 'PARIAL_CASH')
		#partial-cash-container.options-dialog
			p Vous déposez sur notre compte Paypal une partie de la valeur (vous pouvez aussi envoyer un chèque).
	- if(option == 'BOOK_BUY')
		#book-buy-container.options-dialog
			p Vous l'achetez vous-même. L'objet ne sera plus disponible dans la liste.
	- if(option == 'BOOK_CASH')	
		#book-cash-container.options-dialog
			p Vous déposez l'argent sur notre compte Paypal (vous pouvez aussi envoyer un chèque). L'objet ne sera plus disponible dans la liste.