- if (user != null)
	p Bonjour #{user.name} !
	br 
#intro Welcome to #{title} Welcome to #{title} Welcome to #{title} Welcome to #{title} Welcome to #{title}
#loader(style='display:none;')
	img(src='/imgs/ajax-loader.gif')
#content
	

