- var mustHaveClass = '';
- if(lastArticle != null && lastArticle.priority == 'MUST_HAVE') { mustHaveClass = 'selected'; }
- var niceToHaveClass = '';
- if(lastArticle != null && lastArticle.priority == 'NICE_TO_HAVE') { niceToHaveClass = 'selected' } 

ul
	li: a(href='#mustHave') Les indispensables
	li: a(href='#niceToHave') Les plus
#mustHave(class=mustHaveClass)
	ul.whishes
		- each article, index in mustHaveArticles
			li(id='#{article._id}',class='article row-#{Math.floor(index/3)}')
				- if (article.thumb)
					- if(typeof(article.thumb) == 'string')
						img.thumbnails(src='/imgs/articles/#{article.thumb}')
					- if(typeof(article.thumb) == 'object')
						img.thumbnails(src='/imgs/articles/#{article.thumb[Math.floor(Math.random()*article.thumb.length)]}')
				- else
					img.thumbnails(src='/imgs/articles/default.png')
				.article-title #{article.name}
				- if (article.description)
					.article-desc #{article.description}
					
#niceToHave(class=niceToHaveClass)
	ul.whishes
		- each article, index in niceToHaveArticles
			li(id='#{article._id}',class='article row-#{Math.floor(index/3)}')
				- if (article.thumb)
					- if(typeof(article.thumb) == 'string')
						img.thumbnails(src='/imgs/articles/#{article.thumb}')
					- if(typeof(article.thumb) == 'object')
						img.thumbnails(src='/imgs/articles/#{article.thumb[Math.floor(Math.random()*article.thumb.length)]}')
				- else
					img.thumbnails(src='/imgs/articles/default.png')
				.article-title #{article.name}
				- if (article.description)
					.article-desc #{article.description}
						
